<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:fragment="main_layout(title, content)">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/themes/prism.min.css">
</head>
<header>
    <nav>
        <strong>实验案例管理系统</strong>

        <a th:each="menu : ${menus}"
           th:href="@{${menu.url}}"
           th:text="${menu.name}">
            动态菜单名
        </a>
    </nav>
</header>

<main>
    <div th:replace="${content}"></div>
</main>

<footer>
    <p>&copy; 2026 西北工业大学</p>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/prism.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.29.0/components/prism-java.min.js"></script>
</body>
</html>